<ion-view view-title="Log In">
    <ion-content class="padding">
        <form name="register" ng-submit="signIn(register)" novalidate><br><br>
              
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.email.$invalid && registerForm.$submitted}">
                    <input name="email" type="email" placeholder="Email" ng-model="user.email" required>
                </label>
                
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.password.$invalid && registerForm.$submitted}">
                    <input name="password" type="password" placeholder="Password" ng-model="user.password" required>
                </label>
                <br>
                <button class="button button-block button-energized" type="submit">Submit! </button>

        </form>
    </ion-content>
</ion-view>